body{
    background-color: hsl(250, 23%, 95%);
}
header{
    background-color: #757067;
    text-align: center;
    }
nav{
        background-color: #FFA299;

    }
section{
        background-color: #AD6989;
        text-align: center;
        color: white;
        
    }
article{
        background-color: #562349;
        text-align: center;
        color: white;
    }
footer{
        background-color: #D8B9C3;
}