body{
    background-color: #c99ce4;
    text-align: center;
}
header{
    text-align: center;

}
nav{

    background-color: #ECF7C5;
    margin: auto;
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
}

nav li a:hover{
        background-color: #434343;
}

nav > li {
    float: left;
}

ul, ol {
list-style: none;
    }

    li a{
        background-color: black;
        color: #ECF7C5;
        text-decoration: none;
        padding: 10px 15px;
        display: block;
    }



section{
    grid-column: 1/4;
    background-color: #515748;
    text-align: center;
    color: white;
    }
aside{
        background-color: #92967D;
        text-align: center; 
    }
footer{
        background-color: #6E7C7C;
        text-align: center;
    }
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}