body{
    background-color: #b4b0cf;
}
header{
    text-align: center;
}
nav{
    background-color: #C8C6A7;
    }
section{
    grid-column: 1/4;
    background-color: #92967D;
    text-align: center;
    }
aside{
        background-color: #92967D;
        text-align: center; 
    }
footer{
        background-color: #6E7C7C;
        text-align: center;
    }
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}